.markdown-body {
  --color-canvas-default-transparent: #f9e8ce;
  --color-prettylights-syntax-comment: #8b949e;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #c9d1d9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-fg-default: #f356a7;
  --color-fg-muted: #f27794;
  --color-canvas-default: #f9e8ce;
  --color-canvas-subtle: #161b22;
  --color-border-default: #f27794;
  --color-border-muted: #f27794;
  --color-neutral-muted: rgba(110, 118, 129, 0.4);
  --color-accent-fg: #f27794;
  --color-accent-emphasis: #1f6feb;
  --color-danger-fg: #f85149;
}
